<li>
  <%= link_to restaurant.name, restaurant %>
  <% if current_user && current_user.admin? %>
    | <%= link_to "delete", restaurant, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>